[build]
  publish = "public"
  functions = "netlify/functions"
  command = "npm run build"

[[redirects]]
  from = "/rpc"
  to = "/.netlify/functions/rpc"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
  
[dev]
  port = 8888
  targetPort = 8888