[build]
  publish = "public"
  functions = "netlify/functions"

[[redirects]]
  from = "/rpc"
  to = "/.netlify/functions/rpc"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"